* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(134, 134, 134);
    text-align: center;
}

.tittle {
    text-align: center;
    margin-top: 20px;
}

/* Gorako paragrafoa */
.ezkerrean {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

/* argazkiaren kokapena */
.eskubian {
    width: 100%;
    text-align: center;
}

/* argazkia */
.eskubian .img {
    width: 400px;
    max-width: 90%;
    height: auto;
    
}

/* menua */
nav {
    background: #333;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background: #222;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        text-align: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}
